<p>This is a code block using 4 spaces syntax:
    class Something
      def method(param)
      end
    end</p>

<p>This is a code block using 3-backticks ```:</p>

<pre><code>This is a code block without any specific language
</code></pre>

<p>This is a code block specifying a language:</p>

<div class="language-ruby highlighter-rouge"><div class="highlight"><pre class="highlight"><code><span class="k">class</span> <span class="nc">Something</span>
  <span class="k">def</span> <span class="nf">method</span><span class="p">(</span><span class="n">param</span><span class="p">)</span>
  <span class="k">end</span>
<span class="k">end</span>
</code></pre></div></div>
