<p>Let’s embed an image: <img src="http://example.com/image.png" alt="image" /></p>

<p>Let’s include an image that already have a link: <a href="http://example.com"><img src="http://example.com/image.png" alt="image" /></a></p>
