<p>Let’s embed an image: <a href="http://example.com/image.png" target="_blank" rel="noopener noreferrer"><img src="http://example.com/image.png" alt="image" /></a></p>

<p>Let’s include an image that already have a link: <a href="http://example.com"><img src="http://example.com/image.png" alt="image" /></a></p>
